
body{
    background-color: #FFFFFF;
    color:#191970;
}

h1{
    background-color:#000033;
    color:#E6E6FA;
    margin-bottom: 0;
}

h2{
    color:#90C7E3;}

nav{
    background-color:#90C7E3;
    color:#000033;
}
